.contenedorPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 2rem 0rem 2rem 3rem;
  backdrop-filter: blur(2px);
}

.containerCharacters {
  transition: transform 0.5s ease-in-out;
  width: 19em;
  height: 80%;
  background-color: #f0f0f0;
  border: 1px solid #956b93;
  border-radius: 2%;
  padding: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  background-image: url(../public/img/fondoHeader.jpg);
  background-position: center;
  margin-bottom: 5rem;
}

.containerOnlyCharacter {
  margin-bottom: 2em;
  right: 20px;
  width: 40em;
  height: 25em;
  background-size: 180dvb;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #F8FBD9;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
}

.containerOnlyCharacter {
  font-size: 22px;
  color: black;
}

.nombre {
  display: grid;
  height: 130px;
  width: 100%;
}

.nombre h2 {
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
}

.letras {
  width: 15em;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 16px;
}

.letras h4 {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.volver {
  color: black;
  text-align: center;
  backdrop-filter: blur(2px);
}

.volverButton {
  width: 10vh;
  height: 5vh;
  background-color: #41D0FD;
  color: black;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 4vh;
}

.volverButton:hover {
  background-color: #c3f642;
}

.imagen {
  border-radius: 50%;
  z-index: 2;
}

.contenedorImagen {
  margin-left: 1em;
  grid-row: 2;
  width: 13em;
}

.imagenOnlyCharacter {
  border-radius: 20%;
  border: solid black 3px;
}

.contenedorImagen {
  z-index: 99;
}

.containerCharacters {
  margin-left: -50px;
}

.containerCharacters:hover {
  transform: translateY(-20px);
  z-index: 99;
}

.containerCharacters:hover~.containerCharacters {
  left: 5vh;
}

.containerCharacters h2 {
  font-size: 22px;
}

@media (max-width: 290px) {
  .containerCharacters {
    width: 150px;
  }

  .containerOnlyCharacter {
    width: 150px;
  }
}

@media (max-width: 550px) {
  .containerCharacters {
    width: 270px;
  }

  .containerOnlyCharacter {
    width: 300px;
    height: 750px;
    margin-right: 20px;
  }

  .contenedorImagen {
    margin-top: 1em ;
    margin-left: 1em;
    grid-row: 2;
    width: 8em;
    margin-right: 20px;
  }

  .letras {
    width: 12em;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
  }

  .letras h4 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}